.btn {
  width: 100%;
  height: 100%;
  font-weight: bold;
  color: white;
  outline: none;
  padding: 10px;
  background-color: rgb(0, 101, 255);
  border: none;
  border-radius: 6px;
}

.btn:hover {
  background-color: rgb(7, 71, 166);
  cursor: pointer;
}
