.container {
  margin: 48px 0;
  background-color: #ffffff;
  border-radius: 12px;
}

.inner {
  width: 768px;
  position: relative;
  background-color: #091e420f;
  overflow: hidden;
}

.card_close_btn {
  position: absolute;
  top: 8px;
  right: 0;
  z-index: 2;
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin: 0 8px auto;
  border-radius: 50%;
  padding: 6px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_close_btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.card_header {
  padding: 8px 52px;
  position: relative;
  min-height: 32px;
  z-index: 1;
}

.card_logo {
  font-size: 20px;
  position: absolute;
  top: 16px;
  left: 16px;
  color: #44546f;
}

.card_title {
  padding-top: 12px;
}

.card_title_input {
  background: #0000;
  border-radius: 4px;
  box-shadow: none;
  font-size: 20px;
  font-weight: 500;
  height: 38px;
  line-height: 24px;
  margin: -6px -10px;
  min-height: 24px;
  padding: 6px 10px;
  resize: none;
  border: none;
  width: 100%;
}

.card_title_input:focus {
  background-color: #ffffff;
}

.card_header_content {
  display: inline-block;
  margin: 4px 8px 4px 2px;
  color: #44546f;
}

.card_main_col {
  float: left;
  margin: 0;
  min-height: 24px;
  padding: 0 8px 8px 16px;
  position: relative;
  width: 552px;
  z-index: 1;
}

.card_sidebar {
  float: right;
  overflow: hidden;
  padding: 0 16px 8px 8px;
  width: calc(100% - 600px);
}

.card_detail_gutter {
  margin-top: 8px;
  margin-left: 40px;
}

.card_detail_item {
  display: block;
  float: left;
  margin: 0 8px 8px 0;
  max-width: 100%;
}

.card_detail_header {
  color: #44546f;
  display: block;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  line-height: 20px;
  margin: 0 8px 4px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card_detail_member_button {
  border-radius: 25em;
  cursor: pointer;
  display: block;
  float: left;
  height: 32px;
  margin: 0 4px 4px 0;
  overflow: visible;
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  width: 32px;
  z-index: 0;
  border: none;
  outline: none;
}

.card_detail_add_button {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 50%;
  padding: 6px 8px;
  border: none;
  outline: none;
  color: #44546f;
  cursor: pointer;
}

.card_detail_labels_container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.card_detail_label_item {
  display: inline-block;
  position: relative;
  margin-bottom: 0;
  border-radius: 3px;
  padding: 0 12px;
  max-width: 100%;
  min-width: 48px;
  height: 32px;
  box-sizing: border-box;
  line-height: 32px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*DESCRIPTION */
.card_des_inner {
  clear: both;
  margin-bottom: 24px;
  position: relative;
}

.card_des_header {
  align-items: center;
  display: flex;
  margin: 0 0 4px 40px;
  min-height: 32px;
  padding: 8px 0;
  position: relative;
}

.card_des_icon {
  left: -36px;
  position: absolute;
  top: 9px;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.card_none_des {
  box-shadow: none;
  background-color: #091e420f;
  border: none;
  color: #172b4d;
  padding: 8px 12px;
  min-height: 56px;
  font-weight: 400;
  border-radius: 3px;
}

.card_none_des:hover {
  cursor: pointer;
  background-color: #091e4224;
}

/* SECTION ACTiVTY*/
.comment {
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment_input {
  flex: 1;
  padding: 10px 12px;
  border-radius: 10px;
  border: none;
  box-shadow:
    0px 1px 1px #091e4240,
    0px 0px 1px #091e424f;
}

.comment_input:hover {
  background-color: #f7f8f9;
}

/* 
* SECTION SIDEBAR
* */

.btn_add {
  margin-top: 8px;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  background-color: #091e420f;
  cursor: pointer;
  transition: background-color ease 0.2s;
  border-radius: 4px;
  color: #172b4d;
}

.btn_add:hover {
  background-color: #091e4224;
}

.btn_add_icon {
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-right: 6px;
}
