.workspace_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 124px;
  max-width: 850px;
  margin: auto;
  padding: 0 10px;
}

.info {
  display: flex;
  align-items: center;
}

.info_img {
  width: 60px;
  height: 60px;
}

.info_description {
  padding: 8px;
}

.info_description_top {
  display: flex;
  flex-direction: row;
}

.info_name {
  margin: 0;
  font-size: 20px;
  color: #333;
  margin-right: 4px;
}

.info_edit {
  width: 12px;
  padding: 4px;
  border-radius: 4px;
}

.info_edit:hover {
  cursor: pointer;
  background-color: #ccc;
}

.lock_icon {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

.info_status {
  margin: 0;
  font-size: 12px;
  color: #44546f;
}

.btn_invite {
  height: 32px;
  font-size: 14px;
  border: none;
  box-shadow: none;
  padding: 8px;
  border-radius: 4px;
  background-color: #0c66e4;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}

.btn_invite:hover {
  cursor: pointer;
  background-color: #0055cc;
}

.horizontal_rule {
  width: 90%;
  border-bottom: 1px solid #dcdfe4;
  margin: auto;
}

.workspace_bottom {
  max-width: 1266px;
  padding: 32px;
  margin: auto;
}

.board_header {
  font-size: 20px;
}

.board_option {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0;
}

.search_input_wrap {
  display: flex;
  align-items: center;
  border: 2px solid #d5d9df;
  padding: 0 8px;
}

@media (max-width: 387px) {
  .board_search,
  .board_sort {
    width: 100%;
  }
}

.search_input_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board_search_input {
  padding: 8px;
  border: none;
  outline: none;
}

.board_sort,
.board_search {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
}

.sort_title,
.filter_title {
  font-size: 14px;
  font-weight: 600;
  color: #44546f;
  margin-bottom: 8px;
}

.sort_select,
.filter_select {
  min-width: 200px;
  height: 36px;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #dcdfe4;
  color: #333;
}

.boards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.create_board {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 120px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.create_board_title {
  color: #333;
  font-size: 14px;
}

.create_board:hover {
  cursor: pointer;
  background-color: #dcdcdc;
}

.board {
  position: relative;
  width: 300px;
  height: 120px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.board:hover {
  cursor: pointer;
  background-color: #dcdcdc;
}

.board_title {
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
  padding: 12px;
  margin: 0;
}
