.workspace_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 124px;
  max-width: 850px;
  margin: auto;
  padding: 0 10px;
}
.logo_name_wrap {
  padding: 8px;
}
.workspace_top_logo {
  display: flex;
  align-items: center;
}
.logo_name {
  margin: 0;
  font-size: 20px;
  color: #333;
  margin-right: 4px;
}

.btn_invite {
  height: 32px;
  font-size: 14px;
  border: none;
  box-shadow: none;
  padding: 8px;
  border-radius: 4px;
  background-color: #0c66e4;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}

.btn_invite:hover {
  cursor: pointer;
  background-color: #0055cc;
}
