:root {
  --header-height: 60px;
  --container-width: 1300px;
  --drawer-width: 260px;
  --board-bg: #0066ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:
    SF Pro Display,
    SF Pro Icons,
    Helvetica,
    Neue,
    Helvetica,
    Arial,
    sans-serif;
}
