.container {
  display: flex;
  height: var(--header-height);
  align-items: center;
  gap: 5px;
}

.image {
  width: 25px;
  height: 40px;
  cursor: pointer;
}

.name {
  cursor: pointer;
  font-size: 14px;
}

.name h1 {
  font-weight: 800;
  color: #253858;
}
